---
// @ts-nocheck
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";

changeLanguage("en");
---

<Layout title="500">
    <div class="min-h-screen place-content-center text-center">
        <p class="font-body text-9xl">500</p>
    </div>
</Layout>