---

---



<div class="rounded-lg bg-white p-8 shadow-lg lg:col-span-3 lg:p-12">
    <form action="#" class="space-y-4">
      <div>
        <label class="sr-only" for="name">Name</label>
        <input
          class="w-full rounded-lg border-gray-200 p-3 text-sm"
          placeholder="Name"
          type="text"
          id="name"
        />
      </div>

      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
        <div>
          <label class="sr-only" for="email">Email</label>
          <input
            class="w-full rounded-lg border-gray-200 p-3 text-sm"
            placeholder="Email address"
            type="email"
            id="email"
          />
        </div>

        <div>
          <label class="sr-only" for="phone">Phone</label>
          <input
            class="w-full rounded-lg border-gray-200 p-3 text-sm"
            placeholder="Phone Number"
            type="tel"
            id="phone"
          />
        </div>
      </div>

  

      <div>
        <label class="sr-only" for="message">Message</label>

        <textarea
          class="w-full rounded-lg border-gray-200 p-3 text-sm"
          placeholder="Message"
          rows="4"
          id="message"
        ></textarea>
      </div>
      <label class="font-pattern">
          <input type="checkbox" class="accent-[#60C11C] focus:accent-[#60C11C]"> 
          I accept <span class="font-medium">terms & conditions</span> for processing personal data
        </label>
      <div class="mt-4">
        <button
          type="submit"
          class="inline-block w-full rounded-lg bg-[#60C11C] px-5 py-3 font-medium text-white sm:w-auto"
        >
          Submit
        </button>
      </div>
    </form>
  </div>