---

---

<!-- Slider main container -->
<section class="relative w-full overflow-hidden pt-20">
  <div class="swiper">
    <!-- Wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide flex items-center justify-center bg-hero-pattern bg-cover bg-center text-white text-2xl h-[90vh]">
        <div class="absolute inset-0 bg-black bg-opacity-50"></div>
        <div class=" text-center relative p-2">
          <h1 class="text-4xl sm:text-7xl uppercase font-heading font-medium text-white">Short Term Rental</h1>
          <p class="text-white font-light text-sm sm:text-lg font-body py-4">Discover our unique collection of Short Term Rental Apartments and Houses exclusively designed for you.</p>
          <a href="" class="bg-[#60C11C] font-hero uppercase p-3 text-sm rounded-md">Learn More</a>
        </div>
        
      </div>

      <div class="swiper-slide flex items-center justify-center bg-hero-pattern-02 bg-cover bg-center text-white text-2xl h-[90vh]">
        <div class="absolute inset-0 bg-black bg-opacity-50"></div>
        <div class=" text-center relative p-2">
          <h1 class="text-4xl sm:text-7xl uppercase font-heading font-medium text-white">Property Management</h1>
          <p class="text-white font-light text-sm sm:text-lg font-body py-4">Uncover the exclusivity of our premium offerings.</p>
          <a href="" class="bg-[#60C11C] font-hero uppercase p-3 text-sm rounded-md">Learn More</a>
        </div>
        
      </div>

      <div class="swiper-slide flex items-center justify-center bg-hero-pattern-03 bg-cover bg-center text-white text-2xl h-[90vh]">
        <div class="absolute inset-0 bg-black bg-opacity-50"></div>
        <div class=" text-center relative p-2">
          <h1 class="text-4xl sm:text-7xl uppercase font-heading font-medium text-white">Luxury Concierge</h1>
          <p class="text-white font-light text-sm sm:text-lg font-body py-4">Uncover the exclusivity of our premium offerings.</p>
          <a href="" class="bg-[#60C11C] font-hero uppercase p-3 text-sm rounded-md">Learn More</a>
        </div>
        
      </div>





    </div>
    <!-- Pagination -->
    <div class="swiper-pagination"></div>


    
  </div>
</section>

<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
></script>
<script>
  // @ts-ignore
  const swiper = new Swiper(".swiper", {
    
    autoplay: {
    delay: 5000,
  },
    direction: "horizontal",
    loop: true,

    // Pagination
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },

    // Navigation arrows
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },

    // Scrollbar
    scrollbar: {
      el: ".swiper-scrollbar",
      draggable: true,
    },
  });
</script>



