---


---

<!-- Slider main container -->
<section class="relative w-full overflow-hidden pt-20">
  <div class="swiper">
    <!-- Wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide flex items-center justify-center bg-hero-pattern bg-cover bg-center text-white text-2xl h-[90vh]">
        <div class="absolute inset-0 bg-black bg-opacity-50"></div>
        <div class=" text-center relative p-2">
          <h1 class="text-4xl sm:text-7xl uppercase font-heading font-medium text-white">Alquileres a Corto Plazo</h1>
          <p class="text-white font-light text-sm sm:text-lg font-body py-4">Descubre nuestra exclusiva colección de apartamentos y casas de alquiler a corto plazo, diseñadas especialmente para ti.</p>
          <a href="/alquiler" class="bg-[#60C11C] font-hero uppercase p-3 text-sm rounded-md">Saber más</a>
        </div>
        
      </div>

      <div class="swiper-slide flex items-center justify-center bg-hero-pattern-02 bg-cover bg-center text-white text-2xl h-[90vh]">
        <div class="absolute inset-0 bg-black bg-opacity-50"></div>
        <div class=" text-center relative p-2">
          <h1 class="text-4xl sm:text-7xl uppercase font-heading font-medium text-white">Gestión de Propiedades</h1>
          <p class="text-white font-light text-sm sm:text-lg font-body py-4">
            Optimiza el valor de tus inmuebles con nuestra gestión integral y personalizada.
          </p>
          <a href="/gestion-de-propiedades" class="bg-[#60C11C] font-hero uppercase p-3 text-sm rounded-md">Saber más</a>
        </div>
        
      </div>

      <div class="swiper-slide flex items-center justify-center bg-hero-pattern-03 bg-cover bg-center text-white text-2xl h-[90vh]">
        <div class="absolute inset-0 bg-black bg-opacity-50"></div>
        <div class=" text-center relative p-2">
          <h1 class="text-4xl sm:text-7xl uppercase font-heading font-medium text-white">Conserjería de Lujo</h1>
          <p class="text-white font-light text-sm sm:text-lg font-body py-4">Disfruta de experiencias exclusivas y personalizadas con nuestro servicio de conserjería de lujo.</p>
          <a href="/" class="bg-[#60C11C] font-hero uppercase p-3 text-sm rounded-md">Saber más</a>
        </div>
        
      </div>

    </div>
    <!-- Pagination -->
    <div class="swiper-pagination"></div>

    
  </div>
</section>

<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
></script>
<script>
  // @ts-ignore
  const swiper = new Swiper(".swiper", {
    
    autoplay: {
    delay: 5000,
  },
    direction: "horizontal",
    loop: true,

    // Pagination
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },

    // Navigation arrows
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },

    // Scrollbar
    scrollbar: {
      el: ".swiper-scrollbar",
      draggable: true,
    },
  });
</script>



