---
// @ts-nocheck
import { localizePath } from "astro-i18next";
import { t } from "i18next";

---

<!-- Slider main container -->
<section class="relative w-full overflow-hidden pt-20">
  <div class="swiper">
    <!-- Wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide flex items-center justify-center bg-hero-pattern bg-cover bg-center text-white text-2xl h-[90vh]">
        <div class="absolute inset-0 bg-black bg-opacity-50"></div>
        <div class=" text-center relative p-2">
          <h1 class="text-4xl sm:text-7xl uppercase font-heading font-medium text-white">{t("nav.short")}</h1>
          <p class="text-white font-light text-sm sm:text-lg font-body py-4">{t("nav.short-desc")}</p>
          <a href={localizePath("/alquiler")} class="bg-[#60C11C] font-hero uppercase p-3 text-sm rounded-md">{t("nav.more")}</a>
        </div>
        
      </div>

      <div class="swiper-slide flex items-center justify-center bg-hero-pattern-02 bg-cover bg-center text-white text-2xl h-[90vh]">
        <div class="absolute inset-0 bg-black bg-opacity-50"></div>
        <div class=" text-center relative p-2">
          <h1 class="text-4xl sm:text-7xl uppercase font-heading font-medium text-white">{t("nav.manage")}</h1>
          <p class="text-white font-light text-sm sm:text-lg font-body py-4">
            {t("nav.manage-desc")}
          </p>
          <a href={localizePath("/gestion-de-propiedades")} class="bg-[#60C11C] font-hero uppercase p-3 text-sm rounded-md">{t("nav.more")}</a>
        </div>
        
      </div>

      <div class="swiper-slide flex items-center justify-center bg-hero-pattern-03 bg-cover bg-center text-white text-2xl h-[90vh]">
        <div class="absolute inset-0 bg-black bg-opacity-50"></div>
        <div class=" text-center relative p-2">
          <h1 class="text-4xl sm:text-7xl uppercase font-heading font-medium text-white">{t("nav.concierge")}</h1>
          <p class="text-white font-light text-sm sm:text-lg font-body py-4">{t("nav.concierge-desc")}</p>
          <a href="/conserjeria-de-lujo" class="bg-[#60C11C] font-hero uppercase p-3 text-sm rounded-md">{t("nav.more")}</a>
        </div>
        
      </div>

    </div>
    <!-- Pagination -->
    <div class="swiper-pagination"></div>

    
  </div>
</section>

<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
></script>
<script>
  // @ts-nocheck
  const swiper = new Swiper(".swiper", {
    
    autoplay: {
    delay: 5000,
  },
    direction: "horizontal",
    loop: true,

    // Pagination
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },

    // Navigation arrows
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },

    // Scrollbar
    scrollbar: {
      el: ".swiper-scrollbar",
      draggable: true,
    },
  });
</script>



