---
import { Icon } from "astro-icon/components";


---

<button class="to-top" type="button">
    <Icon name="arrow_vector" width={40} height={40} class="z-10 text-[#60C11C] text-3xl fixed bottom-5 left-5" />
</button>

<script is:inline>
    const btn = document.querySelector(".to-top");
    btn.addEventListener("click", () => {
        document.documentElement.scrollTo({
            top: 0,
            behavior: "smooth",
        })
    });
</script>